* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    outline: 2px solid red;
}

body {
    font-family: Helvetica,'sans-serif',Calibri;
    background-color: #eeeeee;
    height: auto;
    width: auto;
    text-align: center;
}

.title {
    color: 000000;
    text-align: center;
    height: 50px;
    width: 250px;
    margin: auto;
    align-content: center;
    display: block;
}

#description {
    text-align: center;
    display: block;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.food_names{
    font-size: 20px;
    margin: 5px;
}

.food_pics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 250px;
    padding: 10px 45px 20px;
}

.food_pics#pinikpikan_pic {
    width: 285px;
}

.food_pics#adobo_pic {
    height: 170px;
    width: 250px;
}

.food_description {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.foods {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
    gap:60px;
}

#pinikpikan_all, #dinuguan_all, #adobo_all {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 8px 10px #888888;
    padding: 5px;
}

#description_container {
    text-align: center;
}

#github {
    align-content: center;
}

#github_logo {
    height: auto;
    width: 50px;

}

#TOP {
    height: auto;
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}