* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    outline: 2px solid red;
}

body {
    font-family: Helvetica,'sans-serif',Calibri;
    background-color: #eeeeee;
    height: auto;
    width: auto;
}

.title {
    color: 000000;
    text-align: center;
    height: 50px;
    width: 250px;
    margin: auto;
    align-content: center;
    display: block;
}

.food_names{
    font-size: 20px;
}

.food_pics {
    display: block;
    height: auto;
    width: 10vw;
}

#pinikpikan {
    display: block;
}
#dinuguan {
    display: block;
}
#adobo {
    display: block;
}
#description_container {
    text-align: center;
}

#github {
    align-content: center;
}

#github_logo {
    height: auto;
    width: 50px;
}

#TOP {
    height: auto;
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}